doctype html
html(lang='es')
	head
		title Mi Tutor
		meta(charset='UTF-8')
		<!--MAIN CSS-->
		link(rel='stylesheet', href='style.css')
	body
		#arriba
			#rectangulo
		#nav
			img.imglogo.horizontal(src='images/LogoMiTutor.png', alt='')
			
			<!--bloque para navegador-->
			block navegador

		<!--bloque para contenido de la pagina-->
		block contenido

		<!--Pie de pagina-->
		#footer
			#pie.centrado
				hr
				p Lic. Moises Silva
				p Copiright 2020
